<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Matcha - <%=info.first_name %></title>
        <link href="/styles/styles.css" rel="stylesheet" type="text/css">
    </head>
 
    <body>
    	<% include partials/nav %>

        <h1>Infos de <strong class="first_letter"><%= info.first_name %></strong></h1>

        <h2>Photo de profil</h2>
        <div>
            <img class="account_image" src=<%= info.profile_picture %> >
        </div>
        <form action="change_password" method="get">
            <input type="submit" value="Changer mon mot de passe">
        </form>
        <form action="change_infos" method="post">
            <h2>Informations personnelles</h2>
            <p>Pseudo : </p>
            <input required type="text" name="login" value="<%= info.login%>" />
            <p>Prénom : </p>
            <input required type="text" name="first_name" value="<%= info.first_name%>" />
            <p>Nom : </p>
            <input required type="text" name="last_name" value="<%= info.last_name%>" />
            <p>Email : </p>
            <input required type="email" name="email" value="<%= info.email%>" />
            <p>Age : </p>
            <input required type="number" min="18" max="120" name="age" value="<%= info.age%>" />
            <h2>Informations de dating</h2>
            <p>Genre : </p>
            <select name="gender" size="1">
                <option <% if (info.gender == 'Femme') { %> selected="selected" <% }%> >Femme</option>
                <option <% if (info.gender == 'Homme') { %> selected="selected" <% }%> >Homme</option>
                <option <% if (info.gender == 'Autre') { %> selected="selected" <% }%> >Autre</option>
            </select>
            <p>Orientation : </p>
            <select name="orientation" size="1">
                <option <% if (info.orientation == 'Femmes') { %> selected="selected" <% }%> >Femmes</option>
                <option <% if (info.orientation == 'Hommes') { %> selected="selected" <% }%> >Hommes</option>
                <option <% if (info.orientation == 'Bi') { %> selected="selected" <% }%> >Bi</option>
                <option <% if (info.orientation == 'Autre') { %> selected="selected" <% }%> >Autre</option>
            </select>
            <p>Bio : </p>
            <input required type="text" name="bio" value="<%= info.bio%>" />
            <br/>
            <input type="submit" name="submit" value="Modifier mes informations" />
        </form>

        <h2>Centres d'intérêts</h2>
        <div>
            <p>Tes centres d'intérêts :</p>
            <% interests.forEach(function(elem) { %>
                <p>#<%= elem.topic %></p>
            <% }); %>
            <form action="new_topic" method="post">
                <input required type="text" name="new_topic">
                <input type="submit" name="submit" value="Ajouter un topic">
            </form>
        </div>

        <h2>Photos</h2>
        <div>
            <p>Photo de profil : </p>
            <form action="change_profile_picture" method="post">
                <select name="profile_picture" size="1">
                    <%if (info.image_1 != null) { %>
                        <option <% if (info.image_1 == info.profile_picture) { %> selected="selected" <% }%> >Photo 1</option>
                    <% } if (info.image_2 != null) { %>
                        <option <% if (info.image_2 == info.profile_picture) { %> selected="selected" <% }%> >Photo 2</option>
                    <% } if (info.image_3 != null) { %>
                        <option <% if (info.image_3 == info.profile_picture) { %> selected="selected" <% }%> >Photo 3</option>
                    <% } if (info.image_4 != null) { %>
                        <option <% if (info.image_4 == info.profile_picture) { %> selected="selected" <% }%> >Photo 4</option>
                    <% } if (info.image_5 != null) { %>
                        <option <% if (info.image_5 == info.profile_picture) { %> selected="selected" <% }%> >Photo 5</option>
                    <% } %>
                </select>
                <input type="submit" value="Définir comme photo de profil">
            </form>
            <% if (info.image_1 == null || info.image_3 == null || info.image_3 == null || info.image_4 == null || info.image_5 == null) { %>
                <p>Ajouter une photo :</p>
                <form action="add_new_image" method="post" enctype="multipart/form-data">
                    <input required type="file" accept="image/png, image/jpeg" name="photo">
                    <input type="submit" value="Ajouter">
                </form>
            <% } if (info.image_1 != null) { %>
            <p>Image 1 : </p>
            <img class="account_image" src=<%= info.image_1 %> >
            <form action="delete_image" method="post">
                    <input type="hidden" name="photo" value="1">
                    <input type="image" class="modify_button" src="/resources/delete.jpeg" title="submit">
                </form>
            <% } if (info.image_2 != null) { %>
                <p>Image 2 : </p>
                <img class="account_image" src=<%= info.image_2 %> >
                <form action="delete_image" method="post">
                    <input type="hidden" name="photo" value="2">
                    <input type="image" class="modify_button" src="/resources/delete.jpeg" title="submit">
                </form>
            <% } if (info.image_3 != null) { %>
                <p>Image 3 : </p>
                <img class="account_image" src=<%= info.image_3 %> >
                <form action="delete_image" method="post">
                    <input type="hidden" name="photo" value="3">
                    <input type="image" class="modify_button" src="/resources/delete.jpeg" title="submit">
                </form>
            <% } if (info.image_4 != null) { %>
                <p>Image 4 : </p>
                <img class="account_image" src=<%= info.image_4 %> >
                <form action="delete_image" method="post">
                    <input type="hidden" name="photo" value="4">
                    <input type="image" class="modify_button" src="/resources/delete.jpeg" title="submit">
                </form>
            <% } if (info.image_5 != null) { %>
                <p>Image 5 : </p>
                <img class="account_image" src=<%= info.image_5 %> >
                <form action="delete_image" method="post">
                    <input type="hidden" name="photo" value="5">
                    <input type="image" class="modify_button" src="/resources/delete.jpeg" title="submit">
                </form>
            <% } %>
        </div>
    </body>
</html>