<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>Matcha - <%=info.first_name %></title>
        <link href="/styles/styles.css" rel="stylesheet" type="text/css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- Eraser icon -->
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <!-- Messge footer icon -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
 
    <body>
        <div class="container-fluid">
            <div id="0">
        	   <% include partials/nav %>
            </div>
            <div class="border border-white rounded">
                <h1>Infos de <strong class="first_letter"><%= info.first_name %></strong></h1>
            </div>
            <form action="change_password" method="get">
                <input class="btn btn-dark" type="submit" value="Changer mon mot de passe">
            </form>
            <div class="row">
                <div class="col-sm-4 border border-white rounded">
                    <h2>Photo de profil</h2>
                    <div>
                        <img class="account_image card-img-top rounded" src=<%= info.profile_picture %> >
                    </div>
                </div>
                <div class="col-sm-4 border border-white rounded">
                    <form action="change_infos" method="post">
                        <h2>Informations personnelles</h2>
                        <p>Pseudo : </p>
                        <input required type="text" pattern="[A-Za-z0-9]+" class="form-control" name="login" value="<%= info.login%>" />
                        <p>Prénom : </p>
                        <input required type="text" pattern="[A-Za-z0-9]+" class="form-control" name="first_name" value="<%= info.first_name%>" />
                        <p>Nom : </p>
                        <input required type="text" pattern="[A-Za-z0-9]+" class="form-control" name="last_name" value="<%= info.last_name%>" />
                        <p>Email : </p>
                        <input required type="email" class="form-control" name="email" value="<%= info.email%>" />
                        <p>Age : </p>
                        <input required type="number" class="form-control" min="18" max="120" name="age" value="<%= info.age%>" />
                </div>
                <div class="col-sm-4 border border-white rounded">
                        <h2>Informations de dating</h2>
                        <p>Genre : </p>
                        <select class="form-control "  name="gender" size="1">
                            <option <% if (info.gender == 'Femme') { %> selected="selected" <% }%> >Femme</option>
                            <option <% if (info.gender == 'Homme') { %> selected="selected" <% }%> >Homme</option>
                            <option <% if (info.gender == 'Autre') { %> selected="selected" <% }%> >Autre</option>
                        </select>
                        <p>Orientation : </p>
                        <select class="form-control" name="orientation" size="1">
                            <option <% if (info.orientation == 'Femmes') { %> selected="selected" <% }%> >Femmes</option>
                            <option <% if (info.orientation == 'Hommes') { %> selected="selected" <% }%> >Hommes</option>
                            <option <% if (info.orientation == 'Bi') { %> selected="selected" <% }%> >Bi</option>
                            <option <% if (info.orientation == 'Autres') { %> selected="selected" <% }%> >Autres</option>
                        </select>
                        <p>Departement : </p>
                        <select class="form-control" class="form-control" required name="departement" size="1">
                            <option></option>
                            <% var i = 1; var j = 1;
                                while (i <= 95)
                                { 
                                    if (i == 75)
                                    { 
                                        while (j <= 20) 
                                        { %>
                                         <option <% if (info.departement.split(' ')[0] == i && info.departement.split('(')[1].split(')')[0] == j) { %> selected="selected" <% }%> ><%= i  %> (<%= j %>)</option>
                                        <% j++;
                                        }
                                    }
                                    else 
                                    { %>
                                        <option <% if (info.departement == i) { %> selected="selected" <% }%> ><%= i %></option>
                                <%  } i++;
                                } %>
                            <option <% if (info.departement == 98) { %> selected="selected" <% }%> >98</option>
                            <option <% if (info.departement == 971) { %> selected="selected" <% }%> >971</option>
                            <option <% if (info.departement == 972) { %> selected="selected" <% }%> >972</option>
                            <option <% if (info.departement == 973) { %> selected="selected" <% }%> >973</option>
                            <option <% if (info.departement == 974) { %> selected="selected" <% }%> >974</option>
                            <option <% if (info.departement == 976) { %> selected="selected" <% }%> >976</option>
                        </select>
                        <p>Geolocalisation : </p>
                        <select name="geo_consent" size="1">
                            <option <% if (info.geo_consent == 'Oui') { %> selected="selected" <% }%> >Oui</option>
                            <option <% if (info.geo_consent == 'Non') { %> selected="selected" <% }%> >Non</option>
                        </select>
                        <p>Bio : </p>
                        <textarea required class="form-control" type="text" name="bio"><%= info.bio %></textarea>
                        <br/>
                </div>             
            </div>
            <div>
                    <input class="btn btn-dark btn-block" type="submit" name="submit" value="Modifier mes informations" />
                </form>
            </div>
            <div class="border border-white rounded">
                <h2>Centres d'intérêts</h2>
                <div>
                    <p>Tes centres d'intérêts :</p>
                    <div class="d-inline-flex p-3 text-primary">
                    <% interests.forEach(function(elem) { %>
                        <div class="p-2">
                            <form action="delete_interest" method="post" class=".form-inline">
                                #<%= elem.topic %>
                                <input type="hidden" name="topic" value="<%= elem.topic %>">
                                <input class='fas fa-eraser' type="submit" value="&#xf12d;" title="Effacer">
                            </form>
                        </div>
                    <% }); %>
                </div>
                    <form action="new_topic" method="post">
                        <input required type="text" pattern="[A-Za-z0-9]+" name="new_topic">
                        <input class="btn btn-dark" type="submit" name="submit" value="Ajouter un topic">
                    </form>
                    <form action="new_topic" method="post">
                    <% all_interests.forEach(function(elem) { %>
                        <input class="hashtag_submit text-primary" type="submit" name="submit" value="#<%= elem.topic %>" title="Ajouter">    
                    <% }); %>
                    </form>
                </div>
            </div>

            <h2>Photos</h2>
            <div>
                <p>Photo de profil : </p>
                <form action="change_profile_picture" method="post">
                    <select name="profile_picture" size="1">
                        <%if (info.image_1 != null) { %>
                            <option <% if (info.image_1 == info.profile_picture) { %> selected="selected" <% }%> >Photo 1</option>
                        <% } if (info.image_2 != null) { %>
                            <option <% if (info.image_2 == info.profile_picture) { %> selected="selected" <% }%> >Photo 2</option>
                        <% } if (info.image_3 != null) { %>
                            <option <% if (info.image_3 == info.profile_picture) { %> selected="selected" <% }%> >Photo 3</option>
                        <% } if (info.image_4 != null) { %>
                            <option <% if (info.image_4 == info.profile_picture) { %> selected="selected" <% }%> >Photo 4</option>
                        <% } if (info.image_5 != null) { %>
                            <option <% if (info.image_5 == info.profile_picture) { %> selected="selected" <% }%> >Photo 5</option>
                        <% } %>
                    </select>
                    <input class="btn btn-dark" type="submit" value="Définir comme photo de profil">
                </form>
                <% if (info.image_1 == null || info.image_3 == null || info.image_3 == null || info.image_4 == null || info.image_5 == null) { %>
                    <p>Ajouter une photo :</p>
                    <form action="add_new_image" method="post" enctype="multipart/form-data">
                        <input class="btn btn-outline-dark" required type="file" accept="image/png, image/jpeg" name="photo">
                        <input class="btn btn-dark" type="submit" value="Ajouter">
                    </form>
                <% } %>
                <div class="card-deck border border-white rounded">
                <% if (info.image_1 != null) { %>
                    <div class="card carte mx-auto">
                        <div class="card-header">  
                            <strong>Image 1</strong>
                        </div>
                        <img class="card-img-top" src=<%= info.image_1 %> >
                        <div class="carte_button">
                            <form action="delete_image" method="post">
                                <input type="hidden" name="photo" value="1">
                                <input type="image" class="modify_button" src="/resources/delete.jpeg" title="submit">
                            </form>
                        </div>
                    </div>     
                    <% } if (info.image_2 != null) { %>
                    <div class="card carte mx-auto">
                        <div class="card-header">  
                            <strong>Image 2</strong>
                        </div>
                        <img class="card-img-top carte_image" src=<%= info.image_2 %> >
                        <div class="carte_button">
                            <form action="delete_image" method="post">
                                <input type="hidden" name="photo" value="2">
                                <input type="image" class="modify_button" src="/resources/delete.jpeg" title="submit">
                            </form>
                        </div>
                    </div>   
                    <% } if (info.image_3 != null) { %>
                    <div class="card carte mx-auto">
                        <div class="card-header">  
                            <strong>Image 3</strong>
                        </div>
                        <img class="card-img-top carte_image" src=<%= info.image_3 %> >
                        <div class="carte_button">
                            <form action="delete_image" method="post">
                                <input type="hidden" name="photo" value="3">
                                <input type="image" class="modify_button" src="/resources/delete.jpeg" title="submit">
                            </form>
                        </div>
                    </div> 
                    <% } if (info.image_4 != null) { %>
                    <div class="card carte mx-auto">
                        <div class="card-header">  
                            <strong>Image 4</strong>
                        </div>
                        <img class="card-img-top carte_image" src=<%= info.image_4 %> >
                        <div class="carte_button">
                            <form action="delete_image" method="post">
                                <input type="hidden" name="photo" value="4">
                                <input type="image" class="modify_button" src="/resources/delete.jpeg" title="submit">
                            </form>
                        </div>
                    </div> 
                    <% } if (info.image_5 != null) { %>
                    <div class="card carte mx-auto">
                        <div class="card-header">  
                            <strong>Image 5</strong>
                        </div>
                        <img class="card-img-top carte_image" src=<%= info.image_5 %> >
                        <div class="carte_button">
                            <form action="delete_image" method="post">
                                <input type="hidden" name="photo" value="5">
                                <input type="image" class="modify_button" src="/resources/delete.jpeg" title="submit">
                            </form>
                        </div>
                    </div> 
                    <% } %>
                </div>
            </div>
            <div>
               <% include partials/messages_footer %>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        if('<%= info.geo_consent %>' == 'Oui')
        {
            var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
            };

            function success(pos) {
              var crd = pos.coords;
              $.post('geo_nav', crd, function(crd) {
                    });
            }

            function error(err) {
            }

            navigator.geolocation.getCurrentPosition(success, error, options);
        } else {
            setInterval('load_geo()', 3000);
            function load_geo() {
                $.getJSON('http://www.geoplugin.net/json.gp?jsoncallback=?', function(data) {
                    $.post('geo', data, function(data) {
                    });
                });
            }
        }
           

        setInterval('updateDiv()', 3000);
            function updateDiv() { 
                $( "#0" ).load(window.location.href + " #0" );
            }
    </script>
    <script type="text/javascript">
    window.onbeforeunload = function(e) {
        $.post('onbeforeunload', {user_login:'<%= info.login %>'});
    };
    </script>
    <script type="text/javascript">
    window.onload = function(e) {
        $.post('onload', {user_login:'<%= info.login %>'});
    };
    </script>
</html>