<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <title>Matcha - Matchs de <%= infos.first_name %></title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link href="/styles/styles.css" rel="stylesheet" type="text/css">
    </head>
 
    <body>
    	<% include partials/nav %>
        <h1>Mes matchs</h1>
        <% profiles.forEach(function(item) {
        	if (like.includes(item.user_ID) && like_me.includes(item.user_ID) && !block_me.includes(item.user_ID)) { %>
        	<p><%= item.user_ID %>, <%= item.first_name %></p>
    	<%	}
    	}) %>
        <h1>Profils que j'ai likés</h1>
        <% profiles.forEach(function(item) {
        	if (like.includes(item.user_ID) && !block_me.includes(item.user_ID)) { %>
        	<p><%= item.user_ID %>, <%= item.first_name %></p>
    	<%	}
    	}) %>
        <h1>Profils qui m'ont liké</h1>
        <% profiles.forEach(function(item) {
        	if (like_me.includes(item.user_ID) && !block_me.includes(item.user_ID)) { %>
        	<p><%= item.user_ID %>, <%= item.first_name %></p>
    	<%	}
    	}) %>
        <h1>Profils que j'ai bloqués</h1>
        <% profiles.forEach(function(item) {
        	if (block.includes(item.user_ID) && !block_me.includes(item.user_ID)) { %>
        	<p><%= item.user_ID %>, <%= item.first_name %></p>
    	<%	}
    	}) %>
    </body>
</html>