<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Matcha - Matchs de <%= infos.first_name %></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="/styles/styles.css" rel="stylesheet" type="text/css">
    </head>
 
    <body>
        <div class="container-fluid">
        	<div id="0">
                <% include partials/nav %>
            </div>
            <button class="btn btn-dark btn-block" data-toggle="collapse" data-target="#match">Mes matchs</button>
            <div id="match" class="collapse">
                <% profiles.forEach(function(item) {
                	if (like.includes(item.user_ID) && like_me.includes(item.user_ID) && !block_me.includes(item.user_ID) && !block.includes(item.user_ID)) { %>
                	<p><%= item.user_ID %>, <%= item.first_name %></p>
            	<%	}
            	}) %>
            </div>
            <button class="btn btn-dark btn-block" data-toggle="collapse" data-target="#liker">Profils que j'ai likés</button>
            <div id="liker" class="collapse">
                <% profiles.forEach(function(item) {
                	if (like.includes(item.user_ID) && !block_me.includes(item.user_ID)) { %>
                	<p><%= item.user_ID %>, <%= item.first_name %></p>
            	<%	}
            	}) %>
            </div>
            <button class="btn btn-dark btn-block" data-toggle="collapse" data-target="#liked">Profils qui m'ont liké</button>
            <div id="liked" class="collapse">
                <% profiles.forEach(function(item) {
                	if (like_me.includes(item.user_ID) && !block_me.includes(item.user_ID)) { %>
                	<p><%= item.user_ID %>, <%= item.first_name %></p>
            	<%	}
            	}) %>
            </div>
            <button class="btn btn-dark btn-block" data-toggle="collapse" data-target="#blocked">Profils que j'ai bloqués</button>
            <div id="blocked" class="collapse">
                <% profiles.forEach(function(item) {
                	if (block.includes(item.user_ID) && !block_me.includes(item.user_ID)) { %>
                	<p><%= item.user_ID %>, <%= item.first_name %></p>
            	<%	}
            	}) %>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        setInterval('updateDiv()', 3000);
        function updateDiv() { 
            $( "#0" ).load(window.location.href + " #0" );
        }
    </script>
</html>