<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Matcha - Conversations de <%= login %></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- Messge footer icon -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/styles/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container-fluid">
        	<div id="0">
                <% include partials/nav %>
            </div>
            <h1>Mes conversations</h1> 
            <div id="1" class="card-deck">
                <% profiles.forEach(function(item) {
                    if (like.includes(item.user_ID) && like_me.includes(item.user_ID) && !block.includes(item.user_ID) && !block_me.includes(item.user_ID)) { %>
                     <div class="card carte mx-auto">
                        <div class="card-header">
                            <strong><%= item.first_name %></strong>
                            <% if (item.connected == 1) { %>
                                <p class="small font-italic text-success">En ligne</p>
                            <% } else { %>
                                <p class="small font-italic text-danger">Hors ligne</p>
                            <% } %>
                        </div>
                        <div class="carte_image">
                            <img class="card-img-top carte_image" src="<%= item.profile_picture %>" title="Profile de <%= item.login %>">
                        </div>
                        <div class="carte_button">
                            <form action="see_messages" method="get">
                                <input type="hidden" name="messaging_ID" value="<%= infos.user_ID %>">
                                <input type="hidden" name="messaged_first_name" value="<%= item.first_name %>">
                                <input type="hidden" name="messaged_login" value="<%= item.uuid %>">
                                <input type="hidden" name="messaged_ID" value="<%= item.user_ID %>">
                                <input class="btn btn-dark" type="submit" name="submit" value="Envoyer un message">
                            </form>
                        </div>
                    </div>
                    <% }
                }) %>
            </div>
            <div>
               <% include partials/messages_footer %>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        setInterval('updateDiv()', 3000);
        function updateDiv() { 
            $( "#0" ).load(window.location.href + " #0" );
        };
    </script>
    <script type="text/javascript">
        setInterval('updateDiv1()', 10000);
        function updateDiv1() { 
            $( "#1" ).load(window.location.href + " #1" );
        }
    </script>
    <script type="text/javascript">
    window.onbeforeunload = function(e) {
        $.post('onbeforeunload', {user_login:'<%= login %>'});
    };
    </script>
    <script type="text/javascript">
    window.onload = function(e) {
        $.post('onload', {user_login:'<%= login %>'});
    };
    </script>
</html>