<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Matcha - Notifications de <%= user.first_name %></title>
        <link href="/styles/styles.css" rel="stylesheet" type="text/css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div id="0">
            	<% include partials/nav %>
            </div>
            <h1>Notifications de <%= user.first_name %></h1>
            <p id="1">Tu as <%= new_notifications %> nouvelles notifications.</p>
            <form action="delete_notifications" method="post">
                <input type="hidden" name="user_ID" value="<%= user.user_ID %>">
                <input class="btn btn-dark" type="submit" name="submit" value="Marquer les notifications commes lues">
            </form>
            <div id="2">
                <% notifications.reverse().forEach(function(item) { %>
                <div class="my-2 shadow-lg media bg-primary border p-3 col-sm-9 rounded mx-auto">
                    <% if (item.valid_notification == 1) { %><p class="text-danger text-center mx-auto"> <% } else { %> <p class="text-center mx-auto"> <% }
                    if (item.motive == 'message') { %>
                        <a class="text-white" href="/messages">Vous avez reçu un message de <strong><%= item.notifier_first_name %></strong> 
                    <% } else if (item.motive == 'like') { %>
                        <a class="text-white" href="/match"><strong><%= item.notifier_first_name %></strong> t'a liké 
                    <% } else if (item.motive == 'unlike') { %>
                        <a class="text-danger" href="/match"><strong><%= item.notifier_first_name %></strong> ne te like plus
                    <% } else if (item.motive == 'visit') { %>
                        <a class="text-white" href="/match"><strong><%= item.notifier_first_name %></strong> a visité ton profile 
                    <% } else if (item.motive == 'match') { %>
                        <a class="text-white" href="/match">C'est un match ! Tu peux désormais converser avec <strong><%= item.notifier_first_name %></strong> !
                    <% } else if (item.motive == 'block') { %>
                        <a class="text-danger" href="/match"><strong><%= item.notifier_first_name %></strong> t'a bloqué ! Tu ne peux plus accéder à son profil ou lui envoyer de messages.
                    <% } else if (item.motive == 'unblock') { %>
                        <a class="text-white" href="/match"><strong><%= item.notifier_first_name %></strong> t'a débloqué ! Tu peux de nouveau accéder à son profil ou lui envoyer de messages.
                    <% } else if (item.motive == 'report') { %>
                        <a class="text-danger" href="/messages"><strong><%= item.notifier_first_name %></strong> a signalé ton comportement comme étant inapproprié ! Ceci sera signalé à l'administrateur.<br/>Attention, si cela se reproduit, ton compte pourra être supprimé.
                    <% } %>
                        <br/><small>le <%= item.date.split('-')[2].split('T')[0]; %>/<%= item.date.split('-')[1]; %>/<%= item.date.split('-')[0]; %> à <%= item.date.split('T')[1].split('.')[0] %></small></a></p>
                </div>
                <% }) %>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        setInterval('load_geo()', 3000);
        function load_geo() {
            $.getJSON('http://www.geoplugin.net/json.gp?jsoncallback=?', function(data) {
                $.post('geo', data, function(data) {
                });
            });
        }
        setInterval('updateDiv()', 3000);
        function updateDiv() { 
            $( "#0" ).load(window.location.href + " #0" );
            $( "#1" ).load(window.location.href + " #1" );
            $( "#2" ).load(window.location.href + " #2" );
        }
    </script>
</html>