<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Matcha - Conversations de <%= messaging_first_name %></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="/styles/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container-fluid">
        	<div id="0">
                <% include partials/nav %>
            </div>
            <div class="card-deck">
                <div class="card carte mx-auto">
                    <div id="connected" class="card-header">
                        <p><strong>Messages de <%= infos_messaged.first_name %></strong></p>
                        <% if (status == 1) { %>
                            <p class="small font-italic text-success">En ligne</p>
                        <% } else { %>
                            <p class="small font-italic text-danger">Hors ligne</p>
                        <% } %>
                    </div>
                    <div class="carte_image">
                        <img class="card-img-top carte_image" src="<%= infos_messaged.profile_picture %>" title="Profile de <%= infos_messaged.login %>">
                    </div>
                    <div class="carte_button">
                        <form action="report" method="post">
                            <input type="hidden" name="messaging_ID" value="<%= messaging_ID %>">
                            <input type="hidden" name="messaged_ID" value="<%= infos_messaged.user_ID %>">
                            <input class="btn btn-danger" type="submit" name="submit" value="Signaler cet utilisateur">
                        </form>
                    </div>
                </div>
            </div>
            <form action="new_message" method="post">
                    <input type="hidden" name="sender_ID" value="<%= messaging_ID %>">
                    <input type="hidden" name="recipient_ID" value="<%= infos_messaged.user_ID %>">
                    <textarea required type="text" name="message" placeholder="Nouveau message"></textarea> 
                    <input class="btn btn-dark" type="submit" name="submit" value="Envoyer">
                </form>
            <div id="here">
                <% messages.reverse().forEach(function(item) { %>
                    <% if (item.sender_ID == messaging_ID) { %>
                        <div class="my-2 shadow-lg media bg-primary border p-3 col-sm-9 float-sm-right rounded">
                            <img src="<%= messaging_profile_picture %>" alt="Photo de <%= messaging_first_name %>" class="mr-3 mt-3 rounded-circle border img_messages">
                            <div class="media-body">
                                <p><kbd><%= item.message %></kbd></p><small><i>le <%= item.date.split('-')[2].split('T')[0]; %>/<%= item.date.split('-')[1]; %>/<%= item.date.split('-')[0]; %> à <%= item.date.split('T')[1].split('.')[0] %></i></small>
                            </div>
                        </div>
                    <% } else if (item.recipient_ID == messaging_ID) { %>
                        <div class="media bg-info border p-3 col-sm-9 float-sm-left rounded">
                            <img src="<%= infos_messaged.profile_picture %>" alt="Photo de <%= infos_messaged.first_name %>" class="mr-3 mt-3 rounded-circle border img_messages">
                            <div class="media-body">
                                <p><kbd><%= item.message %></kbd><small></p><i>le <%= item.date.split('-')[2].split('T')[0]; %>/<%= item.date.split('-')[1]; %>/<%= item.date.split('-')[0]; %> à <%= item.date.split('T')[1].split('.')[0] %></i></small>
                            </div>
                        </div>
                    <% }
                }) %>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        setInterval('load_geo()', 3000);
        function load_geo() {
            $.getJSON('http://www.geoplugin.net/json.gp?jsoncallback=?', function(data) {
                $.post('geo', data, function(data) {
                });
            });
        }
        setInterval('updateDiv()', 3000);
        function updateDiv() { 
            $( "#here" ).load(window.location.href + " #here" );
        }
    </script>
    <script type="text/javascript">
        setInterval('updateDiv2()', 3000);
        function updateDiv2() { 
            $( "#0" ).load(window.location.href + " #0" );
        }
    </script>
    <script type="text/javascript">
        setInterval('updateDiv3()', 3000);
        function updateDiv3() { 
            $( "#connected" ).load(window.location.href + " #connected" );
        }
    </script>
    <script type="text/javascript">
    window.onbeforeunload = function(e) {
        $.post('onbeforeunload', {user_login:'<%= login %>'});
    };
    </script>
    <script type="text/javascript">
    window.onload = function(e) {
        $.post('onload', {user_login:'<%= login %>'});
    };
    </script>
</html>