<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matcha - Stats de <%= infos.first_name %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="/styles/styles.css" rel="stylesheet" type="text/css">
  </head>
 
    <body>
      <div class="container-fluid">
      	<div id="0">
            <% include partials/nav %>
        </div>
        <h1>Tes statistiques</h1>
        <h3 class="text-dark">Nombre de likes : <strong><%= like_nb %></strong></h3>
        <h3 class="text-dark">Ton score de popularité : <strong><% if (nope_nb != 0) { %><%= (like_nb / (like_nb + nope_nb) * 100).toFixed(0)%><% } else { %>100<% } %>/100</strong></h3>
      </div>
    </body>
    <script type="text/javascript">
        setInterval('load_geo()', 3000);
        function load_geo() {
            $.getJSON('http://www.geoplugin.net/json.gp?jsoncallback=?', function(data) {
                $.post('geo', data, function(data) {
                });
            });
        }
        // Ouverture du popup quand l'utilisateur clique sur un profil
        function myFunction(login) {
            console.log(login);
          var popup = document.getElementById(login);
          popup.classList.toggle("show");
        }
        setInterval('updateDiv()', 3000);
        function updateDiv() { 
            $( "#0" ).load(window.location.href + " #0" );
        }
    </script>
    <script type="text/javascript">
    window.onbeforeunload = function(e) {
        $.post('onbeforeunload', {user_login:'<%= infos.login %>'});
    };
    </script>
    <script type="text/javascript">
    window.onload = function(e) {
        $.post('onload', {user_login:'<%= infos.login %>'});
    };
    </script>
</html>