<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <title>Matcha - Parcourir les profils</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link href="/styles/styles.css" rel="stylesheet" type="text/css">
    </head>
 
    <body>
    	<% include partials/nav %>
        <h1>Propositions pour <%= infos.first_name %></h1>
        <p>Votre orientation : <%= infos.orientation %></p>
        <% profiles.forEach(function(item) { 
            if (!previous_profiles.includes(item.user_ID) && block_me.includes(item.user_ID)) { 
               if ((infos.orientation == 'Femmes' && item.gender == 'Femme') || (infos.orientation == 'Autres' && item.gender == 'Autre') || (infos.orientation == 'Hommes' && item.gender == 'Homme')|| (infos.orientation == 'Bi') && (item.gender == 'Homme' || item.gender == 'Femme')) { %>
            <div>
              <div class="popup" onclick="myFunction('<%= item.login %>')">
                <img class="account_image" src="<%= item.profile_picture %>" title="Profile de <%= item.login %>">
                <span class="popup_div" id="<%= item.login %>">
                  <p><strong><%= item.first_name %></strong> (<%= item.login %>)</p>
                  <p><%= item.gender %>, <%= item.age %> ans</p>
                  <% if (item.image_1 != null) { %>
                    <img class="account_image" src="<%= item.image_1 %>" title="Photo 1 de <%= item.login %>">
                  <% } if (item.image_2 != null) { %>
                    <img class="account_image" src="<%= item.image_2 %>" title="Photo 2 de <%= item.login %>">
                  <% } if (item.image_3 != null) { %>
                    <img class="account_image" src="<%= item.image_3 %>" title="Photo 3 de <%= item.login %>">
                  <% } if (item.image_4 != null) { %>
                    <img class="account_image" src="<%= item.image_4 %>" title="Photo 4 de <%= item.login %>">
                  <% } if (item.image_5 != null) { %>
                    <img class="account_image" src="<%= item.image_5 %>" title="Photo 5 de <%= item.login %>">
                  <% } %>
                  <form action="like_profile" method="post">
                    <input type="hidden" name="liked_ID" value="<%= item.user_ID %>">
                    <input type="submit" name="submit" value="Like">
                    <input type="submit" name="submit" value="Nope">
                  </form>
                </span>
              </div>
            </div>
        <%      }
            }
        }) %>
    </body>
    <script type="text/javascript">
        setInterval('load_geo()', 3000);
        function load_geo() {
            $.getJSON('http://www.geoplugin.net/json.gp?jsoncallback=?', function(data) {
                $.post('geo', data, function(data) {
                });
            });
        }
        // Ouverture du popup quand l'utilisateur clique sur un profil
        function myFunction(login) {
            console.log(login);
          var popup = document.getElementById(login);
          popup.classList.toggle("show");
        }
    </script>
</html>